.about-us {
  display: flex;
  min-height: 720px;
  overflow: hidden;
}

.about-us__image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: var(--color-white);

  position: relative;

}

.about-us__image div {
  flex: 1;
  display: flex;
  align-items: center;

}


.about-us__image-cake1 {
  border-bottom: 8px solid var(--color-white);
}

.about-us__image-cake2 {
  border-bottom: 8px solid var(--color-white);
}


.about-us__image-cake1 img {
  width: 500px;
  height: 500px;
}

.about-us__image-cake2 img {
  width: 480px;
  height: 320px;
  margin-top: 85px;
  margin-bottom: 85px;
}

.about-us__button {
  position: absolute;
  right: 0;
  padding: 12px 32px;
  min-height: 64px;

  background: var(--primary-color);
  border-radius: 32px 0 0 32px;
  border: 0;
  outline: 0;

  color: white;
  font-family: var(--plus-jakarta-sans);
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
}

.about-us__button img {
  object-fit: contain;
  margin-left: 32px;
}

.about-us__content {
  padding: 64px;

  flex: 0.96;
  display: flex;
  justify-content: center;
  flex-direction: column;
}